.program-content-scroll {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-fit-to-height: true;
    -fx-border-radius: 8;
    -fx-padding: 10px 15px 10px 15px;
}

.program-content-scroll .content {
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.program-content-scroll .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
/*滚动条滑块*/
.program-content-scroll .scroll-bar  .thumb {
    -fx-background-color: #1296db;
    -fx-background-radius: 7px;
}


/* 滚动面板的角落区域 */
.program-content-scroll .scroll-pane .corner {
    -fx-background-color: transparent;
}

/* Material Design风格的ContextMenu */
.material-context-menu {
    -fx-background-color: white;
    -fx-background-radius: 4;
    -fx-padding: 8px 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.24), 8, 0, 0, 2);
}

/* 菜单项样式 */
.material-context-menu .material-context-menu-item {
    -fx-background-color: transparent;
    -fx-padding: 8px 24px 8px 24px;
    -fx-font-size: 14px;
}

/* 菜单项悬停效果 */
.material-context-menu .material-context-menu-item:focused {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 4;
}

.change-context-menu-item:focused {
    -fx-background-color: transparent !important;
    -fx-background-radius: 4;
}

.material-context-menu .material-context-menu-item:focused .label {
    -fx-text-fill: #000000 !important;
}


/* 分隔线样式 */
.material-context-menu .separator .line {
    -fx-border-color: -divider-color;
    -fx-border-width: 0 0 1 0;
}

